body {
    background-color: #F0F0F0;
}

.content {
    width: 75vw;
    height: auto;
    position: absolute;
    left: 11%;
    margin-top: 5vh;
    background-image: url(photo.jpg);
    background-position: 7.5% 40%;
    border-radius: 1rem;
}



form {
    margin: 3rem;
    margin-left: 3rem;
    margin-top: 6rem;

}

form label, form input, form select, form textarea {
    margin: .5rem;
}

form input {

    border: 0;
    border-bottom: 1px solid #000000;
    margin-left: 20px;
    outline: none;
}


.item {
    width: 200px;
    height: 40px;
    font-size: 15px;
}

#picture {
    border: 0;

}

.submit {
    width: 10.25rem;
    height: 3.25rem;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: .5rem;
    background: linear-gradient(#748dfc, #1c7eff);
    margin-left: 60px;
    margin-top: 20px;
}

h1 {
    position: absolute;
    right: 31rem;
    font-size: 40px;
}

#province {
    margin-left: 20px;
}